{% macro comment_item_show(comment) %}
    <div class="comment-item {% if comment.reply_id %} reply {% endif %}">
        <div class="header">
            <div class="user-info">
                <img class="avater"
                     src="{{ comment.user.avatar | d('/assets/home/qa/user_head.jpg',True) }}"
                     alt="">
                <strong class="uname">{{ comment.user.nickname }}</strong>
            </div>
            {# 自定义的时间过滤器，创建时间作为参数传递 #}
            <div class="time">{{ comment.created_at|dt_format_show }}</div>
        </div>
        <div class="body">
            {{ comment.content }}
        </div>
        <div class="footer">
            <div class="link-love" data-url="{{ url_for('qa.comment_love',comment_id=comment.id) }}">
                <i class="glyphicon glyphicon-thumbs-up"></i> <span>{{ comment.love_count | d('0',True) }}</span>
            </div>
            <div class='link-reply' data-id='{{ comment.id }}'><i
                    class="glyphicon glyphicon-share-alt"></i> 回复
            </div>
            <div><i class="glyphicon glyphicon-thumbs-down"></i> 踩</div>
            <div><i class="glyphicon glyphicon-flag"></i> 举报</div>
        </div>
        <!-- 输入框 -->
        {# 确保每条输入框的id是不一样的 #}
        <form class="form-horizontal comment-publish hidden"
              id="id-comment-{{ comment.id }}">
            <input type="hidden" name='reply_id' value="{{ comment.id }}">
            <input type="text" name='content' class="form-control" placeholder="写下你的评论...">
            <button type="button" class="btn btn-default btn-grey">发布</button>
        </form>
        <!-- // 输入框 -->
    </div>
{% endmacro %}