{% extends 'base_layout.html' %}
{% from 'macro/answer_comment_item.html' import comment_item_show %}
{% from "macro/form_errors.html" import form_field_errors %}
{% block title %}{{ super() }} - 文章详情{% endblock %}
{% block header %}
    <link rel="stylesheet" href="/assets/style/detail.css">
{% endblock %}

{% block content %}

<!-- 问题简述 -->
<div class="layout-question">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                {# 加入flash消息 #}
                {% include 'components/flash_messages.html' %}
                <!-- 问题标签 -->
                <ul class="que-tag-ls">
                    {% if question.tags %}
                        {% for tag in question.tags %}
                            <li><a href="#">{{ tag.tag_name }}</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
                <!-- // 问题标签 -->
                <h3>{{ question.title }}</h3>
                <div class="show-desc hidden">
                    {{ question.desc | d('暂无简述',True) }}
                    <span class="btn-show-more">显示全部<i class="glyphicon glyphicon-menu-down"></i></span>
                </div>
                <div class="show-all ">
                    {% autoescape false %}
                    {{ question.content }}
                    {% endautoescape %}
                    <span class="btn-show-less">收起<i class="glyphicon glyphicon-menu-up"></i></span>
                </div>
                <!-- 菜单栏 -->
                <div class="qa-footer">
                    <div>
                        <button type="button" class="btn btn-info btn-sm">关 注</button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#addComment">
                            写回答
                        </button>
                    </div>
                    <div class="txt-menu"><i
                            class="glyphicon glyphicon-comment"></i> {{ answer.comment_count |d('0',True) }}条评论
                    </div>
                    <div class="txt-menu"><i class="glyphicon glyphicon-send"></i>分享</div>
                    <div class="txt-menu"><i class="glyphicon glyphicon-flag"></i>举报</div>
                    <div class="txt-menu"></div>
                    <div class="txt-menu btn-group">
                        <i class="glyphicon glyphicon-option-horizontal dropdown-toggle" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"></i>
                        <ul class="dropdown-menu">
                            <li><a href="#">不感兴趣</a></li>
                        </ul>
                    </div>
                </div>
                <!-- //菜单栏 -->
            </div>
            <div class="col-md-3">
                <div class="que-stats-box">
                    <!-- 关注者 -->
                    <div>
                        <span>关注者</span>
                        <strong>{{ question.follow_count | number_split }}</strong>
                    </div>
                    <!-- //关注者 -->
                    <!-- 被浏览 -->
                    <div>
                        <span>被浏览</span>
                        <strong>26,233,256</strong>
                    </div>
                    <!-- //被浏览 -->
                </div>
            </div>
        </div><!-- // row -->
    </div>
</div>
<!-- // 问题简述 -->

<div class="layout-answer">
    <div class="container">
        <div class="row">
            <div class="col-md-9 left-content">
                {% block link_more %}
                    <a class="link-more" href="#">查看全部 {{ question.answer_count | d('0',True) }}个回答</a>
                {% endblock %}
                <!-- 回答内容区域 -->
                {% if answer %}
                <div class="answer-content box-wrap">
                    <div class="user-info">
                        <div class="avater">
                            {% if answer.avatar %}
                                <img src="{{ answer.avatar }}" alt="用户头像">
                            {% else %}
                                {# 默认头像 #}
                                <img src="/assets/home/qa/user_head.jpg" alt="用户头像">
                            {% endif %}

                        </div>
                        <div class="desc">
                            <h4>{{ answer.user.nickname }}</h4>
                            <p>{{ answer.user.profile.maxim }}</p>
                        </div>
                    </div>
                    <div class="answer-stats">{{ answer.love_count | d('0',True) }}人赞同了该回答</div>
                    <div class="answer-txt">
                        {% autoescape false %}
                        {{ answer.content }}
                        {% endautoescape %}
                    </div>
                    <div class="answer-time">发布于{{ answer.created_at }}</div>
                    <!-- 底部菜单 -->
                    <div class="qa-footer">
                        <div>
                            <button type="button" class="btn btn-info btn-sm">
                                <i class="glyphicon glyphicon-thumbs-up"></i> 赞同 1780
                            </button>
                            <button type="button" class="btn btn-info btn-sm"><i
                                    class="glyphicon glyphicon-thumbs-down"></i></button>
                        </div>
                        <div class="txt-menu"><i
                                class="glyphicon glyphicon-comment"></i> {{ answer.comment_count| d('0',True) }}条评论
                        </div>
                        <div class="txt-menu"><i class="glyphicon glyphicon-send"></i>分享</div>
                        <div class="txt-menu"><i class="glyphicon glyphicon-heart"></i>收藏</div>
                        <div class="txt-menu"><i class="glyphicon glyphicon-flag"></i>举报</div>
                        <div class="txt-menu"></div>
                        <div class="txt-menu btn-group">
                            <i class="glyphicon glyphicon-option-horizontal dropdown-toggle" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false"></i>
                            <ul class="dropdown-menu">
                                <li><a href="#">不感兴趣</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- // 底部菜单 -->
                    <!-- 评论框 -->
                    <div class="comment-box box-wrap">
                        <!-- 统计和菜单 -->
                        <div class="comment-stats">
                            <div class="title">{{ answer.comment_count|d('0',True) }}条评论</div>
                            <div class="menu"><i class="glyphicon glyphicon-random"></i>切换为时间顺序</div>
                        </div>
                        <!-- // 统计和菜单 -->
                        <!-- 评论列表 -->
                        <div class="comment-ls" id='id-comment-ls'>
                        <p>内容正在加载中...</p>
                        </div>
                        <!-- // 评论列表 -->
                        <nav aria-label="...">
                            <ul class="pager">
                                <li class="previous"><a href="javascript:;"><span aria-hidden="true">&larr;</span> 上一页</a></li>
                                <li class="next"><a href="javascript:;">下一页 <span aria-hidden="true">&rarr;</span></a></li>
                            </ul>
                        </nav>
                        <!-- 发表评论 -->
                        <form class="form-horizontal comment-publish">
                            <input type="text" name='content' class="form-control" placeholder="写下你的评论...">
                            <button type="button" class="btn btn-default btn-grey">发布</button>
                        </form>
                        <!-- // 发表评论 -->
                    </div>
                    <!-- // 评论框 -->
                </div>
                {% else %}
                <div class="answer-content box-wrap">
                    暂无回答
                </div>
                {% endif %}

                <!-- // 回答内容区域 -->
                <a class="link-more" href="#">{{ self.link_more() }}</a>
            </div>
            <div class="col-md-3 right-content">
                <!-- 关于作者 -->
                <div class="about-user box-wrap">
                    <div class="user-info">
                        <div class="avater">
                            <img src="/assets/home/qa/user_head.jpg" alt="用户头像">
                        </div>
                        <div class="desc">
                            <h4>舒大克</h4>
                            <p>《互联网营销人实战手记》新书上市； 公众号：舒大克。</p>
                        </div>
                    </div>
                    <!-- 用户统计 -->
                    <div class="qa-stats">
                        <div>
                            <span>回答</span>
                            <strong>309</strong>
                        </div>
                        <div>
                            <span>文章</span>
                            <strong>40</strong>
                        </div>
                        <div>
                            <span>关注者</span>
                            <strong>85,265</strong>
                        </div>
                    </div>
                    <!-- // 用户统计 -->
                    <div class="menu-ls">
                        <div>
                            <a href="#" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-plus"></i>关注他</a>
                        </div>
                        <div>
                            <a href="#" class="btn btn-default btn-sm btn-grey"><i
                                    class="glyphicon glyphicon-comment"></i>发私信</a>
                        </div>
                    </div>
                </div>
                <!-- //关于作者 -->
                <!-- 相关问题 -->
                <div class="rel-ques box-wrap">
                    <div class="title">相关问题</div>
                    <div class="rel-que-ls">
                        <div>
                            <a href="#">疫情过后，你会报复性消费吗？</a><span>30 个回答</span>
                        </div>
                        <div>
                            <a href="#">疫情过后你最想去哪？和谁一起？</a><span>19 个回答</span>
                        </div>
                        <div>
                            <a href="#">如果能熬过这波疫情，你最想做的事情是什么？</a><span>21 个回答</span>
                        </div>
                        <div>
                            <a href="#">请问这次疫情可能有积极影响吗？</a><span>9 个回答</span>
                        </div>
                        <div>
                            <a href="#">如果疫情结束了你最想做什么？</a><span>3 个回答</span>
                        </div>
                    </div>
                </div>
                <!-- //相关问题 -->
                <!-- 右侧页脚 -->
                <div class="right-footer">
                    <a href="#">用户指南</a><span class="dot">·</span>
                    <a href="#">用户使用协议</a><span class="dot">·</span>
                    <a href="#">用户隐私权政策</a>
                    <br/>
                    <a href="#">侵权举报</a><span class="dot">·</span>
                    <a href="#">网上有害信息举报专区</a>
                    <br/>
                    <a href="#">京ICP证 第10001000号</a>
                    <br/>
                    <a href="#">京ICP备 第10001000号</a>
                    <br/>
                    <a href="#">联系我们 &copy; 2020在线问答</a>
                </div>
                <!-- //右侧页脚 -->
            </div>
        </div>
    </div>
</div>
<div class="layout-footer">
    <a href="#" data-toggle="tooltip" title="意见反馈"><i class="glyphicon glyphicon-briefcase"></i></a>
    <a href="#" data-toggle="tooltip" title="回到顶部"><i class="glyphicon glyphicon-arrow-up"></i></a>
</div>
<!-- 写回答，对话框 -->
<div class="modal fade" id="addComment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <form class="form-horizontal modal-dialog" role="document" method="post"
          action="{{ url_for('qa.detail',q_id=question.id) }}">
        {{ form.csrf_token }}
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">写回答</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    {{ form.content }}
                    {{ ckeditor.load() }}
                    {{ ckeditor.config(name='content') }}
                </div>
                {{ form_field_errors(form.content.errors) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
        </div>
    </form>
</div>
<!-- // 写回答，对话框 -->
{% endblock %}
{% block js_inline %}
    // 内容显示与收起
    $('.show-all').click(function () {
    $(this).addClass('hidden');
    $('.show-desc').removeClass('hidden');
    })
    $('.show-desc').click(function () {
    $(this).addClass('hidden');
    $('.show-all').removeClass('hidden');
    })
{% endblock %}

{% block js_extra %}
    {# 异步请求网页中的数据
用post请求，在点击btn后，才对数据进行处理，并将视图函数的处理结果返回给前端 #}
    <script>
        $(function () {
            console.log('comment',{{ answer.comment_count }})
            function bindCommentPublishEvent(html) {
                var form = $('.comment-publish', html);
                $('.btn', form).click(function () {
                    {# 找到当前的form，即btn的parent #}
                    var _form = $(this).parent();
                    {# 找到当前输入的content值 #}
                    var content = $('input[name = content]', _form);
                    {# serialize()序列化表单值，在这里序列化来表单content的数据得到：content: 12334556 字典形式 #}
                    var data = _form.serialize();
                    $.ajax(
                        {
                            url: '{{ url_for("qa.comments",answer_id=answer.id)}}',
                            method: 'post',
                            data: data,
                            complete: function (res) {
                                console.log(res);
                                if (res.status === 201) {
                                    window.alert('评论成功');
                                    {# 清空评论框 #}
                                    content.val('')
                                } else if (res.status === 400) {
                                    window.alert(res.responseJSON.message)
                                } else {
                                    window.alert('请求失败，请稍后重试')
                                }
                            }
                        }
                    )
                });
            }

            // 回复框的显示
            function bindReplyEvent(html) {
                $('.link-reply', html).click(function () {
                    var _id = $(this).data('id');
                    console.log(_id);
                    var _form = $('#id-comment-' + _id);
                    _form.removeClass('hidden')
                });
            }

            // 绑定点赞事件
            function bindCommentLoveEvent(html){
                $('.link-love',html).click(function(){
                    // 在事件中调用视图函数的接口
                    var _this = $(this)
                    var url = _this.data('url')

                    $.ajax({
                        url:url,
                        method:'post',
                        data:{},
                        complete:function(res){
                            if(res.status===201){
                                window.alert('点赞成功');
                                var count = $('span',_this).text();
                                count = parseInt(count)+1;
                                $('span',_this).text(count)
                            }else if(res.status===401){
                                window.alert('请先登陆')
                            }else{
                                window.alert('服务器正忙')
                            }
                        }
                    })
                })


            }

            // 评论列表的异步加载
            var comment_ls = $('#id-comment-ls');
            var page = 1;

            function loadPageData(page) {
                page = page || 1;
                $.ajax({
                    url: '{{ url_for("qa.comments",answer_id=answer.id)}}',
                    method: 'get',
                    data: {
                        page:page
                    },
                    //异步以get的形式将页码传给网页，视图函数就可以拿到，从而传给模版进行指定页码的内容展示
                    //整个的过程是：从视图函数的数据库拿到数据，渲染在模版中。用户点进页面，默认展示第一页的数据，
                    //用户点击下一页或上一页，会将page的页码请求通过js以get形式传递到视图函数中（视图函数设置了request.args.get()）
                    //接收到的页码为str格式，转换成int后，再传给模型，调用数据库的数据，从而渲染在模版中

                    //因为将数据分页了，所以在页面上的回复和评论的js代码要在每个页面上生效，因此就要写在评论加载的代码中
                    //注意函数的封装思想，一个功能封装成一个js函数，这里封装了三个，第一个是提交评论的功能，第二个是提交回复的功能，第三个是传递页码的功能

                    complete: function (res) {
                        if (res.status === 200) {
                            var result = res.responseJSON;
                            if (result.code === 0) {
                                //html表示当前页的数据
                                //在当前页绑定回复事件和评论事件
                                var html = $(result.data);
                                //绑定回复事件
                                bindReplyEvent(html);
                                //绑定评论事件
                                bindCommentPublishEvent(html);
                                bindCommentLoveEvent(html);
                                //empty()表示移除被选元素的所有子节点和内容
                                //移除后加入此内容
                                comment_ls.empty().append(html)
                            }else{
                                window.alert('服务器正忙')
                            }
                        }
                    }

                })
            }


            $('.pager .previous').click(function () {
                page = page - 1;
                loadPageData(page)
            });


            $('.pager .next').click(function () {
                page = page + 1;
                loadPageData(page)
            });
            //默认加载第一页数据
            loadPageData(page);
        })
    </script>
{% endblock %}

